@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    background-color: #f2f1ed;
    font-family: 'Titillium Web', sans-serif;
}

section {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

section h1 {
    text-align: center;
}

.p-content {
    max-height: 500px;
    overflow-y: scroll;
    padding: 20px;
    border: 1px solid #CCC;
    margin-bottom: 25px;
}
#logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}



a,
a:hover,
a:active,
a:focus {
    color: #000;
    text-decoration: underline;
}

#logo img {
    max-width: 236px;
}

button {
    background-color: #79c496;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: inline-block;
    font-size: 18px;
    border: 0;
    border-radius: 0;
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 2em;
    height: 48px;
    padding: 0 40px 0 70px;
    text-align: center;
    margin-top: 25px;
    
    font-family: 'Titillium Web', sans-serif;
}

button:before {
    background: rgba(0,0,0,.1);
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 20px;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 2em;
}

button i {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        float: left;
        height: 48px;
        line-height: 48px;
        width: 48px;
        background-color: #acddbf;
        top: 0;
        position: absolute;
        left: 0;
        border-radius: 50%;
}

button i:before {
    content:"";
    background-image: url('images/arrow.png');
    background-size: 100% auto;
    width: 20px;
    height: 20px;
}